/* input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  } */
  
/* #panel {
    padding: 10px 0px;

    width: 100%;
    height: 40px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 30px;
    color: turquoise;
    background-color: #d9edf7;
    padding-bottom: 20px;
} */


#login-btn {
    /* justify-content: center; */
    width: auto;
    height: 40px;
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    border-radius: 5%;
    margin: 0 30%;
    cursor: pointer;
}
#login-btn:hover {
    background-color: rgb(13, 117, 131);
}
