.navbar-container{
    display: flex;
    flex-direction: row;
    width: auto;
    height: 70px;
    background-color: rgb(105, 91, 235);
    /* position: fixed; */
    /* opacity: 0; */
}

#title{
    display: flex;
    width: 70vw;
}
#title1{
    margin-left: 7%;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    color: white;
}
#title2{

    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    color: white;

}
#title3{

    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    color: white;

}

/* #title4{
    
    position: absolute;
    width: 10%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    margin-left: 70%;
    right: 0;
    color: white;

}   
#title5{
    
    position: absolute;
    width: 10%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    margin-left: 80%;
    
    color: white;

}    */
#title1:hover{
    border-bottom: 5px solid rgb(126, 1, 88);
    font-size: 21px;
}
#title2:hover{
    border-bottom: 5px solid rgb(126, 1, 88);
    font-size: 21px;
}
#title3:hover{
    border-bottom: 5px solid rgb(126, 1, 88);
     font-size: 21px;
}
#title4:hover{
    border-bottom: 5px solid rgb(32, 231, 138);
    font-size: 21px;
}
#title5:hover{
    border-bottom: 5px solid rgb(32, 231, 138);
    font-size: 21px;
}






























/* #logo{
    width:4%;
    padding-left:7% ;
    padding-right: 3%;    
    margin: 12px 0 12px 0;
}
#title1{
    width: 12%;
    display: flex;
    justify-content: center;
    align-items:center;
    cursor: pointer;
    color: white;
    font-size: 20px;
}
#title2{
    width: 18%;
    display: flex;
    justify-content: center;
    align-items:center;
    cursor: pointer;
    color: white;
    font-size: 20px;
}
#title3{
    width: 12%;
    display: flex;
    justify-content: center;
    align-items:center;
    cursor: pointer;
    color: white;
    font-size: 20px;
}
#title4{
    width: 12%;
    display: flex;
    justify-content: center;
    align-items:center;
    cursor: pointer;
    color: white;
    font-size: 20px;
}
#title5{
    width: 12%;
    display: flex;
    justify-content: center;
    align-items:center;
    cursor: pointer;
    color: white;
    font-size: 20px;
} */