.profile-container{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    margin: 2% 0 0 7% ;

}

#avatar{
    width: 18%;
    height: 300px;
    background-color: blue;
}
#imformation-container{
    margin: 0 0 0 80px;
}
h1{
    width: 90% ;
    height: 50px;
    background-color:rgb(51, 124, 153);
    /* color: white; */
}

